@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;

}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    height: 100px;
}
nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height:calc( 100% -100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    font-family: "Martel Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    gap: 23px;
    padding: 0 30px;
    
}
.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    
}
.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    
}
.separation{

    height: 11px;
    background-color: grey;
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(51, 44, 44);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.btn-red{
background-color: red;
color: white;
padding: 3px 24px;
font-size: 20px;
border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
color: white;

}
.main input{
    padding: 7px 101px 8px 14px;
    font-weight: 900    ;
font-size: 12px;
border-radius: 4px;
background-color: rgba(23,23,23,0.7);
border: 1px solid rgba(236, 226, 226, 0.3);
color: white;
}
.hero-buttons{
display: flex;
align-items: center;
justify-content: center;
gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    
    align-items: center;

}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;

}
.first > div span:first-child{
    font-size: 48px;
    font-weight: bolder;
}
.first > div span:nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div:nth-child(1){
    font-size: 48px;
}
section.first > div:nth-child(2){
font-size: 24px;
}
.faqbox:hover{
background-color: aqua  ;
color: white;
}
.faqbox{
display: flex;
background-color: gray;
padding: 24px;
max-width: 60vw;
font-size: 24px;
    
justify-content: space-between;
margin: 34px auto;
cursor: pointer;
transition: all 1s ease-out;
}
.faq{
    background: black;
    color: white;
}
.faq h2{
    text-align: center;
    padding: 34px auto;
    font-size: 48px;
}
.faqbox svg{
    filter: invert();
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}
@media screen and (max-width:1300px) {
    
    .first{
        flex-wrap: wrap;
    }
    .secImg img {
        width: 305px;
        position: relative;
        z-index: 10;
    }
    .secImg video {
  
        width: 305px;
    
    }
    }
@media screen and (max-width:1300px) {
 
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    
    }
  }
.footer-item{
    display: flex;
    flex-direction: column;
    
}
.footer a{
    font-size: 10px;
    color: white;
    gap: 23px;
}
footer .questions{
    padding: 34px 0;
}
@media screen and (max-width:1300px) {
 
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 25px;
    
    }
    .hero> :nth-child(1) {
     
        font-size: 32px;
       
        
    }
    .hero> :nth-child(2) {
     
        font-size: 18px;
    }
    .hero> :nth-child(3) {
     
        font-size: 18px;
    }
    nav{
        max-width: 90vw;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        }
        .faq h2{
            text-align: center;
           
            font-size: 32px;
        }
        footer{
            max-width: 90vw;
        }
    .footer-item{
        align-items: center;
    }
  }